<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Intercity is a hosting management dashboard.">
  <meta name="keywords" content="web apps, hosting, dashboard, control panel">
  <meta name="author" content="Firmhouse">

  <title>Intercity</title>

  <link href="/css/toolkit-minimal.css" rel="stylesheet">
  <link href="/css/intercity-io.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/toolkit.js"></script>
</head>
