<nav class="navbar navbar-default navbar-static-top navbar-padded text-uppercase app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed p-x-0" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../">
        <span>Intercity.io</span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.path == "index.html" %}class="active"{% endif %}>
          <a href="/">Home</a>
        </li>
        <li {% if page.path == "tour/index.html" %}class="active"{% endif %} >
          <a href="/tour">Tour</a>
        </li>
        <li {% if page.path contains "docs" %}class="active"{% endif %}>
          <a href="/docs">Docs</a>
        </li>
        <li {% if page.path == "support/index.html" %}class="active"{% endif %}  >
          <a href="/support">Pricing</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
