<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include menu.html %}

<div class="container">

  <div class="row">

    <div class="col-sm-3">

      <ul class="nav nav-bordered nav-stacked">
        <li {% if page.path == "docs/index.md" %}class="active"{% endif %}><a href="/docs">Introduction</a></li>
        <li class="nav-divider"></li>
        <li class="nav-header">Installation</li>
        <li {% if page.path == "docs/install.md" %}class="active"{% endif %}><a href="/docs/install.html">Install Intercity</a></li>
        <li {% if page.path == "docs/initial-setup.md" %}class="active"{% endif %}><a href="/docs/initial-setup.html">Initial setup</a></li>
        <li class="nav-divider"></li>
        <li class="nav-header">Getting started</li>
        <li {% if page.path == "docs/install-server.md" %}class="active"{% endif %}><a href="/docs/install-server.html">Install a server</a></li>
        <li {% if page.path == "docs/add-app.md" %}class="active"{% endif %}><a href="/docs/add-app.html">Add an app</a></li>
        <li {% if page.path == "docs/configure-domain-name.md" %}class="active"{% endif %}><a href="/docs/configure-domain-name.html">Configure domain name</a></li>
        <li {% if page.path == "docs/add-database.md" %}class="active"{% endif %}><a href="/docs/add-database.html">Add a database</a></li>
        <li {% if page.path == "docs/add-deploy-key.md" %}class="active"{% endif %}><a href="/docs/add-deploy-key.html">Add deploy key</a></li>
        <li {% if page.path == "docs/deploy-app.md" %}class="active"{% endif %}><a href="/docs/deploy-app.html">Deploy your app</a></li>
      </ul>

    </div>

    <div class="col-sm-9 docs-content">

      {{ content }}

    </div>

  </div>

</div>

<script>
  mixpanel.track("page viewed", {
    'page name' : document.title,
    'url' : window.location.pathname
  })
</script>

{% include footer.html %}
</body>
</html>
